@import url(/css/defs.css);

body, main {
    background-color: var(--background-light);
    color: var(--text-primary);
    transition: 300ms;
}
#recomendados{
    padding-top: 40px;
}
.title{
    padding-left: 50px;
    padding-top: 45px;
}
.circulo {
    background: var(--circle-blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#comida{

    background-image: url("/img/comida.jpg");
    background-size: cover;
}
#bebida{

    background-size: cover;
    background-image: url("/img/bebidas.png");
}
#promo{
    background-color: var(--background-light);
    background-size: 150%;
    background-position: center;

    background-image: url("/img/promo.png");
}

#categorias{
    display: flex;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 50px;
}
#categorias div {
    width: 100px;
}
#title-categorias{
    padding-top: 50px;
}

#title-restaurantes{
    padding-top: 50px;
}


#restaurante-img-cards{
    height: 240px;
}

#carousel-promocoes{
    padding-top: 40px;
}

@media screen and (max-width: 1314px){
    #carouselExample{
        padding-top: 40px;
    }
    
}


#restaurantes-deck{
    margin-top: 40px;
}

#restaurantes-deck > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
}

#restaurantes-deck .card {
    flex-basis: calc(100%/3 - 10vw);
}

#button-endereco {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
}
.card{
    background-color: var(--light-black);
    color: var(--text-primary);
}

@media screen and (max-width: 1341px){
    .card{
        width: 200px;
    }
}
@media screen and (max-width: 1150px) {
    #restaurantes-deck .card {
        flex-basis: calc(100%/2 - 10vw);
    }
}

@media screen and (max-width: 750px) {
    #restaurantes-deck .card {
        flex-basis: calc(100% - 10vw);
    }
}
