* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}


body {
    position: relative;

    background-color: rgb(236, 234, 234);
    /* background-image: url('../img/logingBackground.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position-x: right 20px; */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bgImg {
    position: absolute;

    z-index: -1;
    top: 0;
    left: 0;

    height: 100vh;
}

.cadastro-holder {
    width: 40vw;
    min-width: 320px;
    height: 80vh;

    background-color: white;

    /* margin-left: 300px; */
    border-radius: 40px;

    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#cadastroForm {
    height: 100%;
}

.form-inputs input {
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: #EFEBEB;
    padding: 30px;
    box-shadow: 0 3px 3.5px 0 rgba(0, 0, 0, 0.25);
}

#cadastroForm button {
    width: 150px;
    height: 50px;
    min-height: 50px;;
    background-color: #AF77C2;
    color: white;
    border-radius: 11px;
    border: none;
}

#profile_picture {
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    border-radius: 50%;
}


@media screen and (max-height: 1150px) {
    .form-inputs input {
        height: 25px;
    }

    #profile_picture {
        width: 150px;
        height: 150px;
    }

    #cadastroForm {
        overflow-y: auto;
    }

}