@import url(defs.css);

button{ 
    border-radius: 6px;
}
/* #cadastro-ajuda{
    display: flex;
    gap: 20px;
    padding-right: 50px;
} */

nav {
    background-color: var(--background-light);
    color: var(--text-primary);
    height: 100px;
}

main{
    /* height: 90.2vh; feito em js */
    background-image: url("/img/solar.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastro-holder, .cadastro-holder-unlogged {
    position: relative;
    transition: 300ms;
    width: 40vw;
    min-width: 420px;
    height: 95%;

    overflow-y: auto;
    margin-right: 100px;

    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(5px);

    /* margin-left: 300px; */
    border-radius: 40px;

    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 50px;
}

.cadastro-holder-unlogged {
    display: none;

    justify-content: center;
    align-items: center;
}

.cadastro-holder-unlogged.d-flex {
    height: 80vh;
}

#cadastroForm {
    height: 100%;
}


.form-inputs input {
    border-radius: 10px;
    border: none;
    background-color: #EFEBEB;
    padding: 15px;
    box-shadow: 0 3px 3.5px 0 rgba(0, 0, 0, 0.25);
}

#cadastroForm button {
    width: 150px;
    /* height: 50px; */
    min-height: 50px;
    background-color: #AF77C2;
    color: white;
    border-radius: 10px;
    border: none;
}

#text-holder {
    margin-left: 10vw;
    margin-top: -10%;
}

#text{
    transition: 300ms;
    color: white;
    font-size: 55px;
    text-wrap: nowrap;
}

#text-colored{
    color: rgb(163, 93, 228);
}

#text-2{
    transition: 300ms;
    display: flex;
    align-items: center;
    color: white;
    /* position: absolute; */
    /* left: 12%; */
    /* top: 48%; */
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: min-content;
    text-wrap: nowrap;
}

#text-2 h4 {
    font-size: 23px;
}

#logo-cadastro{
    object-fit: cover;
    height: 80px;
}
.funcionamento{
    width: 47.1%;
}
.funcionamento input{
    width: 100%;
}
#button-cadastro-loja{
    height: 50px;
}

#button-ajuda{
    color: var(--text-primary);
}
#button-entrar{
    border: 1px solid blueviolet;
    color: white;
    background-color: transparent;
}
.button-op{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#logo-image{
    object-fit: cover;
    height: 90px;
}
.navbar{
    height: 90px;
    background-color: var(--background-light);
}



@media  screen and (max-width: 1500px) {
    main {
        flex-direction: column;
        gap: 200px;
    }

    #text {
        margin-top: 50px;
    } 
    .cadastro-holder {
        margin: 0;
        width: 60vw;
        margin-bottom: 100px;
    }

}

#user_info, #user_login_page {
    color:  white;
}

@media screen and (max-width: 730px) {
    .cadastro-holder {
        min-width: 320px;
        padding: 25px;
        border-radius: 10px;
    }

    #text {
        font-size: 40px;
    }
    #text-2 h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 555px) {
    #text {
        font-size: 30px;
    }
    
    #text-2 h4 {
        font-size: 15px;
    }
}