@import url(defs.css);
body, nav {
    background-color: var(--background-light);
}

#ajuda button {
    color: var(--text-primary);
}

button{ 
    border-radius: 6px;
}
/* #cadastro-ajuda{
    display: flex;
    gap: 20px;
    padding-right: 50px;
} */
#button-cadastro{
    border-style: none;
    background-color: blueviolet;
    color: white;
}
#button-entrar{
    border: 1px solid blueviolet;
    color: blueviolet;
    background-color: transparent;
}
.button-op{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#logo-image{
    object-fit: cover;
    height: 90px;
}
.navbar{
    height: 90px;
}


#header-options:not(.show):not(.collapsing) {
    div {
        width: 100%;
    }
    
    button {
        margin-right: 20px;
    }
}

#header-options.show, #header-options.collapsing{
    div {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }

    width: 30%;
    position: absolute;
    right: 0;
    top: 90px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main{
    position: relative;
    height: 90.2vh;
    background-image: url("/img/fundo-cadastro-produtos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#backimage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 40%);
}
.cadastro-holder {
    width: 40vw;
    min-width: 320px;

    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(5px);

    /* margin-left: 300px; */
    border-radius: 40px;

    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#cadastroForm {
    height: 100%;
}

.form-inputs input, #image_input {

    border-radius: 10px;
    border: none;
    background-color: #EFEBEB;
    padding: 15px;
    box-shadow: 0 3px 3.5px 0 rgba(0, 0, 0, 0.25);
}

#cadastroForm button {
    width: 150px;
    height: 50px;
    background-color: var(--placeholder-color);
    color: var(--text-primary);
    border-radius: 10px;
    border: none;
}
#text{
    color: var(--text-primary);
    position: absolute;
    left: 12%;
    top: 31%;
    font-size: 55px;
}
#text-colored{
    color: rgb(163, 93, 228);
}
#text-2{
    display: flex;
    align-items: center;
    color: var(--text-primary);
    position: absolute;
    left: 12%;
    top: 48%;
    background-color: blueviolet;
    backdrop-filter: blur(3px);
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
#logo-cadastro{
    object-fit: cover;
    height: 80px;
}
.funcionamento{
    width: 47.1%;
}
.funcionamento input{
    width: 100%;
}
#button-cadastro-loja{
    height: 50px;
}
#upload-product-img{
    background: none;
    box-shadow: none;
}

#upload_button {
    position: absolute;
    width: 25px;
    right: 5%;
}
