:root{
    --dark-purple: #3c096c;
    --background-light: #f8f9fa;
    --background-secondary: ;
    --text-primary: black;
    --text-secondary: black;
    --circle-blue: lightblue;
    --header-input-border: var(--bs-border-color);
    --placeholder-color: rgb(121, 121, 121);
    --form: rgba(214, 214, 214, 0.795);
}

.dark-mode {
    --dark-purple: #3c096c;
    --text-primary: white;
    --text-secondary: blueviolet;
    --background-light: rgb(26, 25, 31);
    --circle-blue: rgb(30, 195, 250);
    --placeholder-color: rgb(91, 59, 122);
    --header-input-border: rgb(132, 0, 255);
    --form: rgba(58, 58, 58, 0.753);
}

.color-bg-primary {
    background-color: var(--background-light);
}