* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
#linha{
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 15px;
}
#social{
    width: 22vw;
}
footer{
    margin-top: 80px;
}
