#logo-image {
    object-fit: cover;
    height: 90px;
}

#searching {
    display: flex;
    height: 35px;
    padding-left: 50px;
}

#button-search {
    border-color: blueviolet;
}

#button-search:hover {
    background-color: rgba(150, 125, 172, 0.295);
}

#pesquisa {
    width: 450px;
    font-size: 14.7px;
    background-color: var(--background-light);
    border-color: var(--header-input-border);
    color: var(--text-primary);
}

.navbar {
    background-color: var(--background-light);
    color: var(--text-primary);
    height: 100px;
}

#button-endereco {
    background-color: transparent;
    border: none;
    color: var(--text-primary)
}

.options-nav {
    object-fit: cover;
    height: 25px;
}

#button-search {
    margin: 0;
    padding: 6px;
    width: 35px;

    display: flex;

    justify-content: center;
    align-items: center;
}

#button-search img {
    object-fit: cover;

    width: 100%;
}

.navbar,
#pesquisa {
    transition: 300ms;
}

#pesquisa::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    /* Firefox */
}


#pesquisa::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--text-primary);
}

#user_img {
    width: 40px;
    height: 40px;
}

#user_img img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#user_img::before {
    content: attr(data-before);
    margin-right: 10px;
    margin-left: 10px;
    color: var(--text-primary);
}

.user-info-holder {
    position: relative;
    display: flex;
    justify-content: center;
}

#user_info, #user_login_page {
    z-index: 10;
    position: absolute;
    right: 0;
    margin-right: 20px;
    left: auto;
    top: 70px;
    background-color: rgba(var(--background-light), 1);
    color: var(--text-primary);
    height: 200px;

    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid blueviolet;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-wrap: nowrap;
}

#info_section {
    border-radius: 30px;
    padding: 20px;
    transition: 500ms;
}

.dark-mode #info_section {
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 30px;
    padding: 20px;
}


#user_info.show,
#user_info.collapsing,
#user_login_page.show,
#user_login_page.collapsing {
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.user-img-box {
    width: 65px;
    height: 65px;
    border: 1px solid blueviolet;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


#header-options.show, #header-options.collapsing{
    div {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }

    width: 30%;
    position: absolute;
    right: 0;
    top: 90px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#header-options:not(.show):not(.collapsing) {
    > div {
        width: 100%;
    }
    
    button {
        margin-right: 20px;
    }
}




@media screen and (max-width: 1314px) {
    #pesquisa {
        width: 80%;
    }
}