* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;

    background-color: rgb(236, 234, 234);
    /* background-image: url('../img/logingBackground.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position-x: right 20px; */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-heigth {
    height: 100%;
}

#loginForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 35vw;
    /* height: 50vh; */

    z-index: 10;

    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.308);
    border-radius: 37px;

    margin-left: 6vw;
    margin-top: 10vh;

    padding: 35px;
}

#loginForm form {
    height: 100%;
}

#loginForm input {
    width: 100%;
    height: 55px;
    border-radius: 40px;
    border-style: none;
    align-self: center;
    background-color: #EFEBEB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.input-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}


#bgImg {
    position: absolute;

    z-index: -1;
    top: 0;
    right: 55%;

    height: 100vh;
}

.button-section div{
    display: flex;

    justify-content: space-between;
}

.button-section button {
    padding: 8px;
    background-color: #AF77C2;
    color: white;
    border-radius: 11px;
    border-style: none;
    width: 40%;
    height: 45px;
}

.bloons {
    width: 28vw;
    position: absolute;
    left: 5%;
    top: 30%;
}

.bloons img {
    object-fit: cover;
    width: 280px;
}

#invalid_login {
    display: none;
    position: absolute;
    top: -180px;
    font-size: 30px;
    color: blueviolet;
    background-color: rgba(104, 101, 101, 0.34);
    padding: 30px;
    padding-left:  50px;
    padding-right:  50px;
    border-radius: 20px;

    transition: opacity 500ms;
    opacity: 0;
}