@import url(defs.css);

#carouselExample{
    padding-top: 40px;
}
.title{
    padding-left: 50px;
    padding-top: 45px;
}
.circulo {
    background: var(--circle-blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#categorias{
    display: flex;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
}
#title-categorias{
    padding-top: 50px;
}

#title-restaurantes{
    padding-top: 50px;
}

#restaurantes-deck{
    padding-top: 40px;
}

#restaurante-img-cards{
    height: 240px;
}

#carousel-promocoes{
    padding-top: 40px;
}

@media screen and (max-width: 1314px){
    #carouselExample{
        padding-top: 40px;
    }
    
}