@import url(defs.css);

body, main {
    background-color: var(--background-light);
    color: var(--text-primary);
    transition: 300ms;
}
#recomendados{
    padding-top: 40px;
}
.title{
    padding-left: 50px;
    padding-top: 45px;
}
.circulo {
    background: var(--circle-blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#categorias{
    display: flex;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 50px;
}
#categorias div {
    width: 100px;
}
#title-categorias{
    padding-top: 50px;
}

#title-restaurantes{
    padding-top: 50px;
}

#restaurantes-deck{
    padding-top: 40px;
}

#restaurante-img-cards{
    height: 240px;
}

#carousel-promocoes{
    padding-top: 40px;
}

@media screen and (max-width: 1314px){
    #carouselExample{
        padding-top: 40px;
    }
    
}

#user_img::before {
    content: attr(data-before);
    margin-right: 10px;
    margin-left: 10px;
}


#restaurantes-deck .card {
    width: 22rem;
}


