<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico de Pedidos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="/css/historico.css">
  <link rel="stylesheet" href="/css/bb8.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img id="logo-image" src="/img/FoodSpace__1_-removebg-preview 1.png"
            alt=""></a>
        <form id="searching" class="d-flex" role="search">
          <input id="pesquisa" class="form-control me-2" type="search" placeholder="Busque por itens ou lojas"
            aria-label="Search">
          <img id="button-search" src="/img/lupa.png" class="btn btn-outline-success" type="submit"></img>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row pe-5">
          <div id="endereco" class="dropdown d-flex justify-content-center">
            <button id="button-endereco" class="btn btn-secondary dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Selecione um endereço
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 ms-5  mb-lg-0">
              <img class="options-nav" src="/img/user.png" alt="">
            </ul>
            <ul class="navbar-nav me-auto mb-2  ms-5 mb-lg-0">
              <img class="options-nav" src="/img/carrinho.png" alt="">
            </ul>
            <ul id="bb8-slider" class="navbar-nav me-auto mb-2 ms-5  mb-lg-0">
              <label class="bb8-toggle">
                <input class="bb8-toggle__checkbox" type="checkbox">
                <div class="bb8-toggle__container">
                  <div class="bb8-toggle__scenery">
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="bb8-toggle__star"></div>
                    <div class="tatto-1"></div>
                    <div class="tatto-2"></div>
                    <div class="gomrassen"></div>
                    <div class="hermes"></div>
                    <div class="chenini"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                    <div class="bb8-toggle__cloud"></div>
                  </div>
                  <div class="bb8">
                    <div class="bb8__head-container">
                      <div class="bb8__antenna"></div>
                      <div class="bb8__antenna"></div>
                      <div class="bb8__head"></div>
                    </div>
                    <div class="bb8__body"></div>
                  </div>
                  <div class="artificial__hidden">
                    <div class="bb8__shadow"></div>
                  </div>
                </div>
              </label>
            </ul>
            <span class="navbar-text">
            </span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h4 class="title">Pedidos Anteriores</h4>
    <h5 id="subtitle" class="title">Histórico</h5>
    <div class="cardapio-items">
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
      <div class="item">
        <div class="d-flex">
          <div class="historico-restaurante">
            <img src="/img/habibs.jpg" alt="">
          </div>
          <div class="dados-rest">
            <h4>Nome do restaurante</h4>
            <h7>Pedido concluído
              <h7 />
          </div>
        </div>
        <div class="all-infos-pedido">
          <div class="linha2 my-3"></div>
          <div class="rest-infos">
            <div class="infos-pedido">
              <div class="num-pedidos">80</div>
              <p>Nome do item</p>
            </div>
          </div>
          <div class="linha2 my-3"></div>
        </div>
        <div class="options-pedidos">
          <a href="">Ajuda</a>
          <a href="">Adicionar à sacola</a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div id="footer-info" class="bg-body-tertiary d-flex justify-content-between px-5 py-4">
      <div class="d-flex">
        <a class="navbar-brand" href="#"><img id="logo-image" src="/img/FoodSpace__1_-removebg-preview 1.png"
            alt=""></a>
        <div class="d-flex flex-column justify-content-center">
          <p>Copyrights© 2005</p>
          <p>Rua Juscelino Kubitschek - 555</p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <p>Alguma coisa</p>
        <p>Mais alguma coisa</p>
      </div>
      <div class="d-flex flex-column justify-content-center" id="social">
        <div class="container-fluid d-flex justify-content-around align-items-center">
          <div class="d-flex align-items-center justify-content-center">
            <img src="/img/insta.svg" class="pe-2" alt="">
            <p>Instagram</p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <img src="/img/tt.svg" class="pe-2" alt="">
            <p>Twitter</p>
          </div>
        </div>
        <div id="linha" class="my-3"></div>
        <div class="container-fluid d-flex justify-content-around">
          <p>Termos de contrato</p>
          <p>Sobre</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>